<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.minutkann.**.repository"/>

    <context:component-scan base-package="ru.minutkann.**.service"/>

    <context:property-placeholder location="classpath:ucoz/ucoz-api.properties" system-properties-mode="OVERRIDE"/>

    <bean id="apiClient"
          class="ru.minutkann.ucozapiclient.repository.UcozApiClient">
        <constructor-arg index="0" type="java.lang.String" value="${ucoz.consumer_key}"/>
        <constructor-arg index="1" type="java.lang.String" value="${ucoz.consumer_secret}"/>
        <constructor-arg index="2" type="java.lang.String" value="${ucoz.token}"/>
        <constructor-arg index="3" type="java.lang.String" value="${ucoz.token_secret}"/>
        <constructor-arg index="4" type="java.lang.String" value="${ucoz.url}"/>
    </bean>
</beans>